:root,
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: transparent !important;
}

* {
  box-sizing: border-box;
}

.subtitle-overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  pointer-events: auto;
  user-select: none;
}

.subtitle-overlay-region-replace {
  display: block;
  padding: 0;
  pointer-events: none;
}
